#root {
  max-width: 1920px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.error-content {
  background-color: rgba(15, 19, 24, 1);
  width: 26rem;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0 1rem 0;
  font-size: 1.125em;
  line-height: 100%;
  font-weight: 500;

  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.update-content {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: stretch;
  height: 3.5rem;
}

.updateBtn {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 1rem;
  font-size: 1.125em;
  line-height: 100%;
  font-weight: 500;
  background-color: rgba(235, 2, 55, 1);
  color: rgba(255, 255, 255, 1);
  transition: background-color 0.25s;
  width: 12rem;
  height: 3.5rem;
  cursor: pointer;
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.updateBtn:hover {
  background-color: rgba(160, 17, 49, 1);
}

.match__container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgba(11, 14, 18, 1);
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 10px;
}

.match-wrapper {
  width: 100%;
  height: 3rem;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.match-card-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.team-1,
.team-2 {
  width: 10rem;
  height: 3rem;
  display: flex;
 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.team-2 {
  flex-direction: row-reverse;
}

.arrowDownBtn {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.score-and-status {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
}

.score {
  font-size: 1.25rem;
  line-height: 100%;
  font-weight: 600;
}

.live-status,
.finished-status,
.waiting-status {
  background-color: rgba(67, 173, 40, 1);
  font-size: 0.75rem;
  line-height: 100%;
  font-weight: 600;
  width: 5.75rem;
  height: 1.7rem;
  border: 1px transparent;
  border-radius: 4px;
  padding: 6px 2px 6px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}
.finished-status {
  background-color: rgba(235, 2, 55, 1);
}
.waiting-status {
  background-color: rgba(235, 100, 2, 1);
  width: 7rem;
  height: 1.7rem;
}

.match-list__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.username-and-kills ul {
  background-color: rgba(16, 19, 24, 1);
  
}

.username-and-kills-wrapper {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  align-content: start;
  height: 3rem;
  width: 17rem;
  border-radius: 4px;
}

.points-place-totalKills {
  background-color: rgba(16, 19, 24, 1);
  width: 54rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
}



.card-container {
  display: flex;
  width: 100%; 
  flex-direction: column;

}

.team_card ul {
  display: flex;
  border: 1px solid red;
  gap: 8px;
  width: 54rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  align-content: start;
}

