@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  font-weight: 500;
 
  color: rgba(255, 255, 255, 1);
  background-color: rgba(6, 8, 12, 1);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select, option {
  background-color: rgba(11, 14, 18, 1);
  color: rgba(180, 181, 182, 1);
  outline: none;
  width: 11rem;
  height: 3.5rem;
  border-radius: 4px;
  padding: 10px 20px 10px 16px;
}
select:hover {
  background-color: rgba(15, 19, 24, 1);
  color: rgba(255, 255, 255, 1);
}
select:focus {
  border: 1px solid rgba(23, 29, 37, 1);
  background-color: rgba(11, 14, 18, 1);
}


body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

ul {
  list-style: none;
  padding: 0;
}
